:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-items: center;
  font-family: Roboto;
  color: var(--dark-slate-grey);
}

.login {
  width: 100%;
  max-width: 375px;
}

img {
  width: 100%;
}

.panel {
  margin: 30px;
}

h1 {
  font-size: 40px;
}

p {
  margin-top: 30px;
  line-height: 1.5;
}

ul {
  margin-top: 30px;
}

li {
  list-style: none;
  display: flex;
}

li:not(:last-child) {
  margin-bottom: 20px;
}

li img {
  width: 20px;
  margin-right: 20px;
  margin-bottom: auto;
}

form {
  margin-top: 45px;
}

.email-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
}

.email-box input {
  grid-column: span 2;
}

.email-box label {
  font-size: 12px;
  font-weight: 700;
}

.email-box span {
  font-size: 12px;
  margin-left: auto;
}

input {
  border: 1px solid var(--grey);
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  outline: none;
  margin-top: 8px;
}

button {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: var(--dark-slate-grey);
  color: white;
  margin-top: 20px;
}
