:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --radius-100: 0.5em;
  --radius-300: 0.875em;
}

*,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate-300);
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Outfit;
}

.qrcode {
  width: 90%;
  max-width: 320px;
  background-color: var(--white);
  padding: 1em;
  border-radius: var(--radius-300);
}

.qrcode img {
  width: 100%;
  border-radius: var(--radius-100);
}

article {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

article h1 {
  font-size: 1.4em;
  font-weight: 700;
  color: var(--slate-900);
}

article p {
  margin-top: 1em;
  font-size: 15px;
  color: var(--slate-500);
  margin-bottom: 1.5em;
  font-weight: 300;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
